<h3>Stuffs</h3>

<div class="row">
  <div id="stuffs" class="col-md-8">
    <div class="row mb-2 text-center">
      <div class="col">Name</div>
      <div class="col">Description</div>
      <div class="col">Quantity</div>
      <div class="col">Category</div>
      <div class="col">Action</div>
    </div>
    <% @stuffs.each do |stuff| %>
      <%= render stuff %>
      <p>
      </p>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= turbo_frame_tag 'modal' %>
  </div>
</div>

<%= link_to "New stuff", new_stuff_path, data: {turbo_frame: 'modal'} %>
