  <table class="table">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Amount</th>
      <th>category</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <%= render @stuff %>
    </tbody>
  </table>

<div class="my-2 row">
  <div class="col">
    <%= link_to "Back to stuffs", stuffs_path, class: 'btn btn-light'%>
  </div>
  <div class="col">
    <%= button_to "Destroy this stuff", @stuff, method: :delete, class: 'btn btn-danger' %>
  </div>
</div>
