<div id="<%= dom_id category %>">
  <p>
    <strong>Id:</strong>
    <%= category.id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= category.desc %>
  </p>

</div>
